In [1]:
print("Hola")

Hola

In [2]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]

In [6]:
def temp_convert(celsius):return 1.8 * celsius + 32  
  
temperature_1 = temp_convert(-10)  
temperature_2 = temp_convert(25)  
temperature_3 = temp_convert(100)  
  
print(f"The temperature in Fahrenheit of -10°C is {temperature_1}°F")  
print(f"The temperature in Fahrenheit of 25°C is {temperature_2}°F")  
print(f"The temperature in Fahrenheit of 100°C is {temperature_3}°F")

The temperature in Fahrenheit of -10°C is 14.0°F
The temperature in Fahrenheit of 25°C is 77.0°F
The temperature in Fahrenheit of 100°C is 212.0°F

In [13]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)
def temp_convert(celsius):return 1.8 * celsius + 32  
Num = [1,2,3,4,5,6,7,8,9,10,11,12]  
temps = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  

for n in Num:
    print(n)

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]
1
2
3
4
5
6
7
8
9
10
11
12

In [15]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)
def temp_convert(celsius):return 1.8 * celsius + 32  
Num = [1,2,3,4,5,6,7,8,9,10,11,12]  
temps = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  

for n in temps:
    print(temp_convert(n))

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]
59.72
64.58000000000001
66.56
68.36
70.52
68.18
66.02
67.64
66.92
66.38
64.22
60.26

In [15]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)
def temp_convert(celsius):return 1.8 * celsius + 32  
Num = [1,2,3,4,5,6,7,8,9,10,11,12]  
temps = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  

for n in temps:
    print(temp_convert(n))

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]
59.72
64.58000000000001
66.56
68.36
70.52
68.18
66.02
67.64
66.92
66.38
64.22
60.26

In [34]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)
def temp_convert(celsius):return 1.8 * celsius + 32  
Num = [1,2,3,4,5,6,7,8,9,10,11,12]  
temps = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  


print("FILA 4: ",temp_convert(20.2))
print("FILA 8: ", temp_convert(19.8))

temp_conver = [temp_convert(15.4),temp_convert(18.1),temp_convert(19.2),temp_convert(20.2),temp_convert(21.4),temp_convert(20.1),temp_convert(18.9),temp_convert(19.8),temp_convert(19.4),temp_convert(19.1),temp_convert(17.9),temp_convert(15.7)]

def temp_promedio(temp):
    total = sum(temp)
    promedio = total / len(temp)
    return promedio  
  
temperaturas = [1, 5, 15.7, 12, 14, 16, 18, 29, 23, 13, 45, 23, 12]  
promedio_anual = temp_promedio(temp_conver)  
print("El promedio de temperatura anual en FARHANHEIT es:", promedio_anual)  

promedio_anual = temp_promedio(temp_cdn)  
print("El promedio de temperatura anual en CELSIUS es:", promedio_anual)

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]
FILA 4:  68.36
FILA 8:  67.64
El promedio de temperatura anual en FARHANHEIT es: 65.78
El promedio de temperatura anual en CELSIUS es: 18.76666666666667

In [35]:
temp_cdn = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  
print(temp_cdn)
def temp_convert(celsius):return 1.8 * celsius + 32  
Num = [1,2,3,4,5,6,7,8,9,10,11,12]  
temps = [15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]  


print("FILA 4: ",temp_convert(20.2))
print("FILA 8: ", temp_convert(19.8))

temp_conver = [temp_convert(15.4),temp_convert(18.1),temp_convert(19.2),temp_convert(20.2),temp_convert(21.4),temp_convert(20.1),temp_convert(18.9),temp_convert(19.8),temp_convert(19.4),temp_convert(19.1),temp_convert(17.9),temp_convert(15.7)]
print (temp_conver)

[15.4, 18.1, 19.2, 20.2, 21.4, 20.1, 18.9, 19.8, 19.4, 19.1, 17.9, 15.7]
FILA 4:  68.36
FILA 8:  67.64
[59.72, 64.58000000000001, 66.56, 68.36, 70.52, 68.18, 66.02, 67.64, 66.92, 66.38, 64.22, 60.26]